// font
$day: 'Dawning of a New Day', cursive;
$amatic: 'Amatic SC', cursive;


// color

$black: #000000;
$white: #ffffff;
$grey: #757471;
$lightGrey: #c1c0be;
$skyBlue: #27D8E8;
$darkBlue: #2c3e50;
$yellow: #FFBE00;
$drkYellow: #cc9800;
$sunYellow: #ffd24d;
